body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    padding: 2rem 0;
}

.projet-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    margin-top: 50px;
    font-size: 0.8rem;
    color: #777;
}
.grille-projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.carte {
    background: #fff;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.carte:hover {
    transform: translateY(-5px);
}

.carte img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    text-align: center;
}

.contenu {
    padding: 15px;
}

